@button-primary__background: @color-dark-blue1;
@button-primary__border: 1px solid darken(@button-primary__background, 35%);
@button-primary__hover__background: lighten(@button-primary__background, 10%);
@button-primary__hover__border: 1px solid darken(@button-primary__background, 35%);
@button-primary__active__background: lighten(@button-primary__background, 15%);
@button-primary__active__border: 1px solid darken(@button-primary__background, 35%);

@link__color: @color-orange-red1;
@link__visited__color: @link__color;
@link__hover__color: darken(@link__color, 15%);
@link__active__color: lighten(@link__color, 15%);