@button-primary__background: @color-dark-blue1;
@button-primary__border: 1px solid darken(@button-primary__background, 35%);
@button-primary__hover__background: lighten(@button-primary__background, 10%);
@button-primary__hover__border: 1px solid darken(@button-primary__background, 35%);
@button-primary__active__background: lighten(@button-primary__background, 15%);
@button-primary__active__border: 1px solid darken(@button-primary__background, 35%);

@link__color: @color-orange-red1;
@link__visited__color: @link__color;
@link__hover__color: darken(@link__color, 15%);
@link__active__color: lighten(@link__color, 15%);

@navigation-desktop-level0-item__color: @color-white;
@_submenu-item-color: @color-blue2;
@_nav-level0-item-color-active: @color-yellow-light1;

@_tab-control-background-color: @color-dark-blue1;
@header-panel__background-color: @color-dark-blue1;
@copyright__background-color: @color-dark-blue1;
@footer__background-color: @color-blue1;

@header-links-color: @color-white;
@header-link-color-hover: @color-yellow-light1;
@header-links-color-active: @color-yellow-light1;

@footer-links-separator-border-color: @color-blue2;
@footer-links-color: @color-white;
@footer-links-color-hover: @color-yellow-light1;

& when (@media-common = true) {
  .message.success > *:first-child:before {
    color: #fdf0d5;
  }

  .navigation .level0 .submenu li {
    a {
      color: @color-black;
    }
  }
  .header.panel {
    > .header.links {
      > li {
        > a {
          .lib-link(
            @_link-color: @header-links-color,
            @_link-text-decoration: none,
            @_link-color-visited: @header-links-color,
            @_link-text-decoration-visited: none,
            @_link-color-hover: @header-link-color-hover,
            @_link-text-decoration-hover: underline,
            @_link-color-active: @header-links-color-active,
            @_link-text-decoration-active: underline
          );
        }
      }
    }
  }

  .left-colomn-container {
    text-align: center;
    > img {
      width: 50%;
    }
  }

  .block.newsletter .title {
    display: block;
    color: rgba(124, 124, 124, 1);
  }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  .navigation {
    background: @color-blue1;
  }

  .navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
    color: @color-yellow-light1;
  }

  .product.data.items {
    > .item.title {
      > .switch {
        background: @_tab-control-background-color;
        color: @color-white;
      }
    }
  }

  .product.data.items > .item.title:not(.disabled) > .switch:focus, .product.data.items > .item.title:not(.disabled) > .switch:hover {
    background: @color-blue2;
    color: @color-white;
  }

  .product.data.items > .item.title:not(.disabled) > .switch:active, .product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover {
    background: @color-blue2;
    color: @color-white;
  }

  .message.success > *:first-child:before {
    color: #fdf0d5;
  }

  .block.newsletter .title {
    color: #fff;
  }
}
