//test for merge
@header-panel__background-color: @color-dark-blue1;
@copyright__background-color: @color-dark-blue1;
@footer__background-color: @color-blue1;

@footer-links-separator-border-color: @color-blue2;
@footer-links-color: @color-white;
@footer-links-color-hover: @color-yellow-light1;
@footer-links-color-current: darken(@color-yellow-light1, 13.5%);



